.quiz {
  &_title {
    @apply text-2xl font-bold text-center mb-4;
  }

  &_reset {
    @apply text-center;

    button {
      @apply my-2;
    }
  }

  &_questions-list {
    @apply flex flex-col items-center my-8 px-32;
  }

  &_validation {
    @apply flex justify-center;
  }

  &_category {
    @apply mb-4 text-center;
    
    h3 {
      @apply text-violet-600 font-semibold text-lg;
    }
  }
}
